* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 3rem;
}

main {
  min-width: 20rem;
  max-width: 60rem;
  width: 100%;
  flex: 1;
}

footer {
  width: 100%;
  padding: 1rem;
}
