{{ partial "header.html" . }}

	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<span>{{ .Date.Format "January 02, 2006" }}</time></span>
			<section>
				{{ .Content }}
			</section>
		</article>
	</main>

{{ partial "footer.html" . }}
