  <footer>
		<div class="copyright">Copyright &copy; {{ .Site.Copyright | safeHTML }}</div>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
